<main>
	<h1>Les articles</h1>
	<p>
		{% for article in articles %}
			<h3>
				<a href="{{ path('article',{ id: article.id }) }}">{{ article.titre }}</a>
			</h3>
			<p>{{ "Publié le " ~ article.date | date("d/m/Y") }}</p>
			<p>{{ article.commentaires | length  ~ " commentaires"}}</p>
			<p>
				<img src="{{ asset('images/articles/' ~ article.imageSrc ) }}" alt="">
			</p>
			<p>
				{{ article.contenu }}
			</p>
		{% endfor %}
	</p>
</main>
